# Data Frames

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [5]:
df=pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])

In [6]:
df   # In this data frame we have bunch of series (W,X,Y,Z) with a shared indecies( A,B,C,D,E)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

**Selection and Indexing**

In [7]:
df['W']   #return W series

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
type(df['W'])   # Series

pandas.core.series.Series

In [9]:
type(df)      # DataFrame

pandas.core.frame.DataFrame

In [10]:
df[['W','Z','Y']]    # Pass a list of column names

          W         Z         Y
A  2.706850  0.503826  0.907969
B  0.651118  0.605965 -0.848077
C -2.018168 -0.589001  0.528813
D  0.188695  0.955057 -0.933237
E  0.190794  0.683509  2.605967

**Adding New Column**

In [11]:
df['new']= df['W'] - df['Z']

In [12]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  2.203024
B  0.651118 -0.319318 -0.848077  0.605965  0.045153
C -2.018168  0.740122  0.528813 -0.589001 -1.429168
D  0.188695 -0.758872 -0.933237  0.955057 -0.766361
E  0.190794  1.978757  2.605967  0.683509 -0.492715

**Removing Column**

In [19]:
df.drop('new',axis=1)  # didn't drop new colomn permenantly

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  2.203024
B  0.651118 -0.319318 -0.848077  0.605965  0.045153
C -2.018168  0.740122  0.528813 -0.589001 -1.429168
D  0.188695 -0.758872 -0.933237  0.955057 -0.766361
E  0.190794  1.978757  2.605967  0.683509 -0.492715

In [21]:
df.drop('new',axis=1,inplace=True)  # now new colomn permenantly dropped

In [22]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
df.drop('A')

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

**Selecting Rows**

In [26]:
df.loc['A']    # row secmek icin df.loc fonksiyonu kullanilir.

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [27]:
df.iloc[0]     # df.iloc fonksiyonu da rowlari secmek icin kullanilir. Farklari, index ismi yerine, iloc'da index numarasi girilir

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [29]:
df.loc['B','Z']   # specific bir eleman secmek icin

0.60596534949493364

In [32]:
df.loc[['C','E'],['X','Z']]

          X         Z
C  0.740122 -0.589001
E  1.978757  0.683509

# Conditional Selections

In [34]:
booldf= df>0

In [35]:
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [37]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [38]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [39]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [40]:
df[df['W']>0]   # Returns the values bigger than 0 in W column.
                # Didn't retyrn Row C, because it's less than 0 on W column

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
resultdf = df[df['W']>0]

In [42]:
resultdf

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
resultdf['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [44]:
df[df['W']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [45]:
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

# Multiple Conditions

In [48]:
df[(df['W']>0) & (df['Y']>1)]   # AND

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [49]:
df[(df['W']>0) | (df['Y']>1)]    # OR

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [50]:
df.reset_index()   # Reset to default 0,1...n index

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [51]:
newind = 'CA OR WY NY NV'.split()

In [52]:
newind

['CA', 'OR', 'WY', 'NY', 'NV']

In [53]:
df['States']=newind

In [54]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     OR
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     NY
E  0.190794  1.978757  2.605967  0.683509     NV

In [56]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
OR      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
NY      0.188695 -0.758872 -0.933237  0.955057
NV      0.190794  1.978757  2.605967  0.683509

# Multi-Index

In [59]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [60]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [61]:
hier_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [62]:
df=pd.DataFrame(randn(6,2),hier_index, ['A','B'])

In [63]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [64]:
df.loc['G2']

          A         B
1  0.166905  0.184502
2  0.807706  0.072960
3  0.638787  0.329646

In [65]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [66]:
df.index.names

FrozenList([None, None])

In [72]:
df.index.names= ['out','in']

In [73]:
df

               A         B
out in
G1  1   0.302665  1.693723
    2  -1.706086 -1.159119
    3  -0.134841  0.390528
G2  1   0.166905  0.184502
    2   0.807706  0.072960
    3   0.638787  0.329646

In [74]:
df.loc['G2'].loc[2]['B']

0.072959675317038689

In [81]:
df.iloc[4].iloc[1]

0.072959675317038689

In [82]:
df.xs(2,level='in')

            A         B
out
G1  -1.706086 -1.159119
G2   0.807706  0.072960