# Missing Data

In [ ]:
import numpy as np
import pandas as pd

In [33]:
d={'A':[1,2,np.nan], 'B':[5,'n','n'], 'C':[1,2,3]}

In [34]:
df=pd.DataFrame(d)

In [36]:
df

     A  B  C
0  1.0  5  1
1  2.0  n  2
2  NaN  n  3

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
A    2 non-null float64
B    3 non-null object
C    3 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 144.0+ bytes

In [38]:
df['B'][1]

'n'

In [39]:
df['B'] = pd.to_numeric(df['B'], errors='coerce')

In [40]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
A    2 non-null float64
B    1 non-null float64
C    3 non-null int64
dtypes: float64(2), int64(1)
memory usage: 144.0 bytes

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
A    2 non-null float64
B    1 non-null float64
C    3 non-null int64
dtypes: float64(2), int64(1)
memory usage: 144.0 bytes

In [5]:
pd.isnull(df)

       A      B      C
0  False  False  False
1  False   True  False
2   True   True  False

Most of the time you drop your missing values in your data set especially if there is a couplu of them

In [5]:
df.dropna()  # Drop all missing value rows in the data set.

     A    B  C
0  1.0  5.0  1

In [6]:
df.dropna(axis=1)   # Drop all missing value colomns in the data set

   C
0  1
1  2
2  3

In [11]:
df.dropna(axis=1,thresh=2)

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [15]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [14]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [10]:
df.fillna(value=df.mean())

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3